$font-primary: "Overpass", sans-serif;

// Primary colors
$orange: hsl(25, 97%, 53%);

// Secondary colors
$white: hsl(0, 0%, 100%);
$light-grey: hsl(217, 12%, 63%);
$dark-blue: hsl(213, 19%, 18%);
$deep-blue: hsl(216, 12%, 8%);

body {
  font-family: $font-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: hsl(220, 12%, 5%);
}
.card-container {
  display: flex;
}

.card {
  max-width: 400px;
  padding: 30px 30px;
  border-radius: 30px;
  background: linear-gradient($dark-blue, $deep-blue);
  display: flex;
  justify-content: center;
  flex: 1;
  flex-direction: column;

  h1 {
    font-size: 24px;
    color: $white;
    margin: 20px 0 10px;
  }
  &__content {
    font-size: 15px;
    line-height: 1.5;
    color: $light-grey;
    &--center {
      text-align: center;
    }
  }
  .star-img {
    padding: 12px;
    border-radius: 50%;
    background: $dark-blue;
    box-shadow: 0 0px 1px 0px $deep-blue;
  }
  .rating-list {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    &__item {
      font-size: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      width: 50px;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      background: $dark-blue;
      box-shadow: 0 0px 1px 0px $deep-blue;
      color: $light-grey;
      transition: all 0.2s ease;
      &:hover {
        background: $orange;
        color: $dark-blue;
      }
      &--active {
        background: $white;
        &:hover {
          background: $white;
        }
      }
    }
  }
  form {
    .btn-submit {
      font-family: $font-primary;
      display: block;
      text-align: center;
      line-height: 1;
      width: 100%;
      border-radius: 30px;
      padding: 12px 0;
      border: none;
      background: $orange;
      color: $deep-blue;
      font-size: 15px;
      letter-spacing: 1px;
      font-weight: 700;
      box-shadow: 0 0px 3px 0px $deep-blue;
      cursor: pointer;
      transition: background 0.2s ease;
      &:hover {
        background: $white;
      }
    }
  }
  .thankyou-img {
    display: block;
    margin: 0 auto;
  }
  h2 {
    font-size: 24px;
    color: $white;
    margin: 10px 0;
    text-align: center;
  }
  .card-select {
    text-align: center;

    &__text {
      background: $dark-blue;
      padding: 8px 20px;

      border-radius: 20px;
      font-weight: 400;
      font-size: 12px;
      line-height: 1;
      color: $orange;
      display: inline-block;
      margin: 30px auto 20px;
    }
  }
}
